<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="card shadow card-body">
            <h1 class="card-title text-center">{{ demande?.title }}</h1>
            <p class="card-text">{{ demande?.description }}</p>
            <pdf-viewer
                [src]="demande?.file"
                [rotation]="0"
                [original-size]="false"
                [show-all]="true"
                [fit-to-page]="false"
                [zoom]="1"
                [zoom-scale]="'page-width'"
                [stick-to-page]="false"
                [render-text]="true"
                [external-link-target]="'blank'"
                [autoresize]="true"
                [show-borders]="false"
                style="width: 100%; height: 600px;"
            ></pdf-viewer>
        </div>
        <!-- AYMEN COMMENTAIRE -->
        <div class="mt-4 card shadow">
            <div class="container-fluid"> 
                <h4>List Comments</h4>
                <ul>
                    <li *ngFor="let comment of comments" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 4px;">
                        <span><b>{{ comment.user?.first_name }} {{ comment.user?.last_name }}</b>  :  {{ comment.textC }}</span>
                        <div>
                            <a class="btn btn-outline-info" (click)="open(responseCommentModal); saveComment(comment)">Response</a>
                            <a class="btn btn-outline-danger" (click)="open(deleteCommentModal);saveComment(comment)" *ngIf="userId == comment.user?.id">Delete</a>
                            <a class="btn btn-outline-warning" (click)="open(updateCommentModal); _updateComment(comment)" *ngIf="userId == comment.user?.id">Update</a> 
                            <button class="btn btn-outline-success" (click)="reactionComment(comment)">
                                <span *ngIf="existUser(comment)">DisLike ({{ comment.likes.length}}) </span>
                                <span *ngIf="!existUser(comment)">Like ({{ comment.likes.length}}) </span>
                            </button>
                        </div> 
                    </li>
                </ul>
            </div>
            
        </div>
        
        <div class="mt-4 card shadow">
            <div class="container-fluid"> 
                <h4 style="margin: 16px">Add Comment</h4>
                <form [formGroup]="commentForm" (ngSubmit)="createComment()" class="container-fluid">
                    <div class="form-group">
                        <label>Text</label>
                        <textarea formControlName="textC" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.textC.errors }"> </textarea>
                        <div *ngIf="submitted && f.textC.errors" class="invalid-feedback">
                            <div *ngIf="f.textC.errors.required">Text is required</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end" style="margin-bottom: 16px;">
                        <button type="submit" class="btn btn-outline-success">Add</button>
                    </div>
                    <div style="color: red" *ngIf="badWords">Bad words</div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #responseCommentModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Response Comment : {{ comment?.textC }} </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-body">
        <li *ngFor="let comment of responses" style="border-bottom: 1px solid; display: flex; justify-content: space-between;">
            <span><b>{{ comment.user?.first_name }} {{ comment.user?.last_name }}</b>  :  {{ comment.textR }}</span>
        </li>
        <form [formGroup]="commentForm" (ngSubmit)="responseComment()" class="container-fluid">
            <div class="form-group">
                <label>Text</label>
                <textarea formControlName="textC" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.textC.errors }"> </textarea>
                <div *ngIf="submitted && f.textC.errors" class="invalid-feedback">
                    <div *ngIf="f.textC.errors.required">Text is required</div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-success">Add</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #deleteCommentModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete Comment : {{ comment?.textC }} </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-body">
            <p>Are you sure to delete this comment ?</p>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">No</button>
                <button type="submit" class="btn btn-outline-success" (click)="deleteComment(comment)">Yes</button> 
            </div>
    </div>
</ng-template>

<ng-template #updateCommentModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update Comment : {{ comment?.textC }} </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-body">
            <form [formGroup]="updateCommentForm" (ngSubmit)="updateComment()" class="container-fluid">
                <div class="form-group">
                    <label>Text</label>
                    <textarea formControlName="textC" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.textC.errors }"> </textarea>
                    <div *ngIf="submitted && f.textC.errors" class="invalid-feedback">
                        <div *ngIf="f.textC.errors.required">Text is required</div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">No</button>
                    <button type="submit" class="btn btn-outline-success">Update</button>
                </div>
                <div style="color: red" *ngIf="badWords">Bad words</div>
            </form>
    </div>
</ng-template>