<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="card shadow card-body">
            <h1 class="card-title text-center">Project Name : {{ project?.nom }}</h1>
            <p class="card-text"><b>Description : </b>{{ project?.description }}</p>
            <pdf-viewer
                [src]="project?.file"
                [rotation]="0"
                [original-size]="false"
                [show-all]="true"
                [fit-to-page]="false"
                [zoom]="1"
                [zoom-scale]="'page-width'"
                [stick-to-page]="false"
                [render-text]="true"
                [external-link-target]="'blank'"
                [autoresize]="true"
                [show-borders]="false"
                style="width: 100%; height: 600px;"
            ></pdf-viewer>
        </div>
        <div class="mt-4 card shadow">
            <div class="card-header border-0 d-flex align-items-center justify-content-between">
                <h3 class="mb-0">Tasks List - Project : {{ project?.nom }}</h3>
                <button type="button" class="btn btn-outline-success" (click)="open(addTaskModal)" *ngIf="(role == 'manager' || role =='ceo') && project?.etat != 'enclosed'">+ Add Task</button>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">ID Task </th>
                      <th scope="col">Nom</th>
                      <th scope="col">Consultant</th>
                      <th scope="col">Date</th>
                      <th scope="col">Priorite</th>
                      <th scope="col" *ngIf="project?.etat != 'enclosed'">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let task of project?.tasks">
                      <td>
                        <b>{{ task.id.slice(0, 4) }}......{{ task.id.slice(task.id.length -4, task.id.length)}}</b>
                      </td>
                      <td>
                        {{ task.nom }}
                      </td>
                      <td>
                        <img src="{{ task.consultant?.image }}" *ngIf="task.consultant" style="width: 35px;  height: 35px;border-radius: 50%;" onerror="this.src='https://cdn-icons-png.flaticon.com/512/219/219983.png'"> &nbsp; &nbsp;{{ task.consultant?.first_name }} {{ task.consultant?.last_name }}
                      </td>
                      <td>{{ task.created_at | date:'MMM d, y' }}</td>
                      <td>{{ task.priorite }}</td>
                      <td class="text-right" *ngIf="project?.etat != 'enclosed'">
                        <div ngbDropdown placement="bottom-right" *ngIf="role != 'consultant'">
                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            
                              <a class="dropdown-item" href="javascript:void(0)" (click)="open(affectTask);"
                              (click)="saveTask(task)">Affecter</a>
                            <a class="dropdown-item" href="javascript:void(0)"(click)="deletetask(task)">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="card-header border-0 d-flex justify-content-end"  style="margin-bottom: 8px;" *ngIf="project?.etat != 'enclosed'">
                  <button type="button" class="btn btn-outline-info" (click)="open(startProject);"  *ngIf="role != 'consultant' && project?.etat == 'pending'">Start Project</button>
                  <button type="button" class="btn btn-outline-info" [routerLink]="['/timeline-project', project?.id]" *ngIf="project?.etat == 'progress'">Time Line : Project - {{ project.nom }}</button>
                </div>
  </div>
</div>

<!-- MODAL Add Task -->
<ng-template #addTaskModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Task : </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
  </div>
  <div class="modal-body">
    <form [formGroup]="taskForm" (ngSubmit)="addTask()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="nom" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
        <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
          <div *ngIf="f.nom.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" formControlName="description" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Description is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Priorite</label>
        <select formControlName="priorite" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.priorite.errors }">

          <option value="LOW">LOW</option>
          <option value="MEDUIM">MEDUIM</option>
          <option value="HIGH">HIGH</option>
        </select>

        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark">Save</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-- MODAL Affect Consultant -->
<ng-template #affectTask let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Affect Consultant - Task {{ task.nom }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-body">
      <form [formGroup]="affectConsultantForm" (ngSubmit)="addTaskToConsultant()">
        <div class="form-group">
            <label>Name</label>
            <ng-select formControlName="consultant" class="consultant">
              <ng-option *ngFor="let consultant of consultants" [value]="consultant.id">
                <img src="{{ consultant.image }}" style="width: 35px; height: 35px;  border-radius: 50%"> &nbsp;&nbsp;
                {{consultant.first_name}} {{ consultant.last_name }}
              </ng-option>
            </ng-select>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">Save</button>
        </div>
      </form>
      <h5 style="color: red" *ngIf="existTask">Consultant Have Task in Dev</h5>
    </div>
</ng-template>

<!-- MODAL Start Project -->
<ng-template #startProject let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Project {{ project.nom }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
  </div>
  <div class="modal-body">
    <p>Are you sure to start <b>Project : {{ project.nom }}</b></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">No</button>
    <button type="submit" class="btn btn-outline-success" (click)="_startProject()">Start Project</button>
  </div>
</ng-template>