<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="card shadow card-body">
            <h5 class="card-title text-center">{{ project?.nom }}</h5>
            <p class="card-text">{{ project?.description }}</p>
            <pdf-viewer
                [src]="project?.file"
                [rotation]="0"
                [original-size]="false"
                [show-all]="true"
                [fit-to-page]="false"
                [zoom]="1"
                [zoom-scale]="'page-width'"
                [stick-to-page]="false"
                [render-text]="true"
                [external-link-target]="'blank'"
                [autoresize]="true"
                [show-borders]="false"
                style="width: 100%; height: 600px;"
            ></pdf-viewer>
        </div>
        <div class="mt-4 card shadow">
            <div class="container d-flex justify-content-between">
                <h4>Tasks</h4>
                <button type="button" (click)="open(content)">+ Add Task</button>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let task of project.tasks; let i = index">{{ i }} - {{ task.description }}</li>
            </ul>

        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>